<app-nav></app-nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <app-form-core-customer [id]="id"></app-form-core-customer>
        </div>
    </div>
</div>