<body>
    <div class="container" style="height: 100vh;">
        <div class="row" style="height: 100vh; align-content: center; justify-content: center;">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin">
                    <div class="card-body">
                        <h5 class="card-title text-center">ILHAM TEST</h5>
                        <form class="form-signin" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="core_user.email" name="email" placeholder="Email" required>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="core_user.password" name="password" placeholder="Password"
                                    required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>