<app-nav></app-nav>
<div class="container">
    <!-- <div class="card-columns">
        <div *ngFor="let core_customer of core_customers">
            <app-core-customer [core_customers]="core_customer"></app-core-customer>
        </div>
    </div> -->
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-2"><button class="btn btn-success my-2 my-sm-0" type="submit" [routerLink]="['/customers/new']"><i class="fa fa-plus"></i> Create</button></div>
        <!-- <div class="col-md-6 offset-md-4"><input type="text" class="search form-control" placeholder="Search..." [formControl]="filter"></div> -->
        <div class="col-md-6 offset-md-4"><input type="text" class="search form-control" placeholder="Search..." (input)="onSearchChange($event.target.value)"></div>
    </div>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th scope="col" sortable="id" (click)="onSort(headElements[0])">Id</th>
                <th scope="col" sortable="name" (click)="onSort(headElements[1])">Name</th>
                <th scope="col" sortable="email" (click)="onSort(headElements[2])">Email</th>
                <th scope="col" sortable="phone" (click)="onSort(headElements[3])">Phone</th>
                <th scope="col" sortable="address" (click)="onSort(headElements[4])">Address</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let core_customer of filter_core_customers;">
            <!-- <tr *ngFor="let core_customer of customers$ | async;"> -->
                <!-- <th scope="row"><ngb-highlight [result]="core_customer.id | number" [term]="filter.value"></ngb-highlight></th>
                <td><ngb-highlight [result]="core_customer.name" [term]="filter.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="core_customer.email" [term]="filter.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="core_customer.phone" [term]="filter.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="core_customer.address" [term]="filter.value"></ngb-highlight></td> -->
                <th scope="row">{{core_customer.id}}</th>
                <td>{{core_customer.name}}</td>
                <td>{{core_customer.email}}</td>
                <td>{{core_customer.phone}}</td>
                <td>{{core_customer.address}}</td>
                <td><button [routerLink]="['/customers/edit', core_customer.id]" class="btn btn-outline-info btn-block"><i class="fa fa-edit"></i></button></td>
                <td><button (click)="delete(core_customer)" class="btn btn-outline-danger btn-block"><i class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>