<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" [routerLink]="['/']">ILHAM TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/customers']">Customers</a>
            </li>
        </ul>
        <div class="ml-auto mr-4">
            <!-- <form class="form-inline my-2 my-lg-0"> -->
            <!-- <button class="btn btn-success my-2 my-sm-0" type="submit" [routerLink]="['/new']">New</button> -->
            <!-- <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-sign-out"></i>Logout</button> -->
            <ul class="nav navbar-nav navbar-right top-menu">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{core_user.name}}
                    </a>
                    <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/user-default.png" alt="" width="25px">
                    </a> -->
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- </form> -->
        </div>
    </div>
</nav>