<div class="container">
    <div class="card">
        <div class="card-header">
            Form Customer
        </div>
        <div class="card-body">
            <form (ngSubmit)="send(f)" #f="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" [(ngModel)]="core_customer.name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" [(ngModel)]="core_customer.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" [(ngModel)]="core_customer.phone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" name="address" rows="3" [(ngModel)]="core_customer.address" placeholder="Address"></textarea>
                </div>
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>